  body {
    background-color: #606060;
    color: white;
  }

  a {
    color:white;
  }

  #rankTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  #rankTable th,
  #rankTable td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  #rankTable th {
    background-color: #f2f2f2;
    font-weight: bold;
    color:black;
  }

  #rankTable th {
    cursor: pointer;
  }

  .countlabel {
    width:150px;
    font-weight:bold;
    display:inline-flex;
  }

  .countnum {
    width:150px;
    display:inline-flex;
  }

  .hand-range-button {
      width: 30px;
      height: 30px;
      margin: 0px;
      font-size: 0.6em;
      text-align: center;             
      border-radius: 5px;
      border-width: 1px;
      position:relative;
  }

  .hand-range-button:not(.selected):not(.result):hover {
    background-color: #ccc;
  }

  .hand-range-button.selected:not(.result):hover {
    background-color: #73cd76;
  }

  .hand-range-button.result {
    background: linear-gradient(to right, #f0f0f0 50%, #f0f0f0 50%);
  }

  .combo-num {
    position: absolute;
    top: 0; 
    right: 0; 
    font-size: 0.6em; 
    margin: 2px; 
  }

  .combo-perc {
    position: absolute;
    top: 0; 
    left: 0; 
    font-size: 0.6em; 
    margin: 2px; 
  }

  .pocketpair {
    font-weight:bold;
  }   

  .selected {
    background-color: #4CAF50; 
    color: white;
  }

  .hand-range-selector {
    align-items: center; 
    flex-wrap: wrap; 
  }

  .quick-select-buttons {
    display: flex; 
    flex-wrap: nowrap; 
    margin-left: 5px; 
  }

  .quick-select-buttons button {
    margin-right: 4px;
    font-size: 0.5em;
  }

  .range-selectors-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: flex-start; 
  }

  .hand-range-selector {
    width: 48%; 
  }

  .hand-range-button.result {
    opacity: .2;
  }

  .card-combo-overlay {
    position: fixed; /* Use fixed to position relative to the viewport */
    display: none;
    background-color: #f9f9f9; /* Example background */
    border: 1px solid #d3d3d3; /* Example border */
    z-index: 100; /* Ensure it's above other content */
    padding: 5px; /* Example padding */
    color:black;
  }

  .card {
    display:inline-flex;
  }

  .cardspace {
    padding-right:50px;
  }

  .card {
    width: 20px; /* Fixed width, adjust as needed */
    height: 34px; /* Fixed height, adjust as needed */
    border: 1px solid #000; /* Thin black border */
    border-radius: 2px; /* Rounded corners */
    display: inline-flex; /* Enables flexbox layout */
    justify-content: center; /* Centers children vertically */
    align-items: center; /* Centers children horizontally */
    position: relative; /* Allows absolute positioning of children */
    margin:0px;
  }
  
  .cardrank {
    position: absolute; /* Allows precise positioning */
    top: 2px; /* Distance from top edge */
    left: 2px; /* Distance from left edge */
    font-size: 9px; /* Adjust font size as needed */
    color:black;
  }
  
  .cardsuit {
    font-size: 16px; /* Adjust font size as needed */
  }

  .hearts { color:red; }
  .clubs {  color:green; }
  .spades {  color:black; }
  .diamonds {  color:blue; }
  
  
  .card-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 9vh; 
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;   
  }

  .cardtitle {
    width: 100%;
    text-align: left;
    margin-left: 5px;
  }
  
  .hero-cards, .common-cards, .burn-card, .villain-cards {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    align-items: flex-start; 
  }
  
  .cardpreselect {
    width: 60px;
    height: 90px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .cardpreselect.empty::before {
    content: "+";
    font-size: 2em;
    color: #ccc;
  }
  
  
