  body {
    background-color: #606060;
    color: white;
    margin:10px 0px 0px 0px;
  }

  a {
    color:white;
  }

  #rankTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  #rankTable th,
  #rankTable td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  #rankTable th {
    background-color: #f2f2f2;
    font-weight: bold;
    color:black;
  }

  #rankTable th {
    cursor: pointer;
  }

  .countlabel {
    width:150px;
    font-weight:bold;
    display:inline-flex;
  }

  .countnum {
    width:100px;
    display:inline-flex;
  }

  .countnum.big {
    width:100px;
    display:inline-flex;
    font-size:x-large;
  }

  .hand-range-button {
      width: 30px;
      height: 30px;
      margin: 0px;
      font-size: 0.6em;
      text-align: center;             
      border-radius: 5px;
      border-width: 1px;
      position:relative;
  }

  .hand-range-button:not(.selected):not(.result):hover {
    background-color: #ccc;
  }

  .hand-range-button.selected:not(.result):hover {
    background-color: #73cd76;
  }

  .hand-range-button.result {
    background: linear-gradient(to right, #f0f0f0 50%, #f0f0f0 50%);
  }

  .combo-num {
    position: absolute;
    top: 0; 
    right: 0; 
    font-size: 0.6em; 
    margin: 2px; 
  }

  .combo-perc {
    position: absolute;
    top: 0; 
    left: 0; 
    font-size: 0.6em; 
    margin: 2px; 
  }

  .pocketpair {
    font-weight:bold;
  }   

  .selected {
    background-color: #4CAF50; 
    /*color: white;*/
  }

  .hand-range-selector {
    align-items: center; 
    flex-wrap: wrap; 
  }

  .quick-select-buttons {
    display: flex; 
    flex-wrap: nowrap; 
    margin-left: 5px; 
  }

  .quick-select-buttons button {
    margin-right: 4px;
    font-size: 0.4em;
  }

  .range-selectors-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: flex-start; 
  }

  .results-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: flex-start; 
  }

  .hand-range-selector {
    width: 48%; 
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10+ */
    user-select: none;         /* Standard syntax */
  }

  .hand-range-button.result {
    opacity: .2;
  }

  .card-combo-overlay {
    display: none;
    position: fixed; 
    display: none;
    background-color: #f9f9f9; 
    border: 1px solid #d3d3d3; 
    z-index: 100; 
    padding: 5px; 
    color:black;
  }

  .card {
    display:inline-flex;
  }

  .cardspace {
    padding-right:50px;
  }

  .card {
    cursor: pointer;
    width: 20px; 
    height: 34px; 
    border: 1px solid #000; 
    border-radius: 2px; 
    display: inline-flex; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
    margin:0px;
  }

  .bigcard {
    display:none;
    cursor: pointer;
    width: 52px; 
    height: 80px; 
    border: 1px solid #000; 
    background-color: white;
    border-radius: 2px; 
    justify-content: center; 
    align-items: center; 
    position: absolute; 
    margin:0px;
    z-index:90;
  }

  .card:hover {
    background-color: #ccc;
  }
  
  .cardrank {
    position: absolute; 
    top: 2px; 
    left: 2px; 
    font-size: 9px; 
    color:black;
  }
  
  .cardsuit { font-size: 16px; }
  .bigcard .cardrank { left: 4px; font-size: 19px; font-weight:bold; }
  .bigcard .cardsuit { font-size: 39px; }

  .hearts { color:red; }
  .clubs {  color:green; }
  .spades {  color:black; }
  .diamonds {  color:blue; }
  
  
  .card-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 9vh; 
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: auto;
    align-items: flex-start;
    flex-wrap: nowrap; /* Prevents wrapping */
  }

  .cardtitle {
    width: 100%;
    text-align: left;
    margin-left: 5px;
  }
  
  .hero-cards, .common-cards, .burn-card, .villain-cards {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    align-items: top; 
  }

  .table {
    display: flex;
    flex-direction: column;
}

.table-cell:not(.cardtitle) {
    padding: 8px;
    border: 0px solid #ccc; /* Optional: for visual separation */
}

.table-cell .cardtitle {
    padding:0px;
}

.statblock-content {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
}


  .statblock {
    flex-basis: 300px;  
    font-size: .8em;
  }

  #stats_board {
    display: none;
  }

  .cardpreselect {    
    width: 60px;
    height: 90px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
  }
  
  .cardpreselect.empty::before {
    content: "+";
    font-size: 2em;
    color: #ccc;
  }
  
  .card-picker-wrapper {
    display: none; 
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:99;    
  }

  .card-picker-wrapper .clearbutton {
    display:none;
    position: relative;
    top: -100px;
    right: -335px;
    color: black;
    z-index: 100;
  }
  
  
  .card-picker {
    background-color: white;
    width: auto; 
    min-width: 150px; 
    height: auto;     
    border-radius: 10px;
    padding:10px;
    color:black;
    cursor: pointer;
    z-index:99;
    border-width:1px;
    border-style:solid;
    border-color:black;
  }

  .card-picker .selectortitle {
    font-weight:bold;
  }

  .slider {
    -webkit-appearance: none; /* Override default appearance */
    appearance: none;
    width: 90%; /* Match button width */
    height: 5px; /* Slider thickness */
    background: #d3d3d3; /* Slider background */
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: absolute;
    bottom: -0px; /* Adjust distance from the button */
    left: -1px;
    border-radius: 5px;
    display:none;
    
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default appearance */
    appearance: none;
    width: 6px; /* Width of the slider thumb */
    height: 6px; /* Height of the slider thumb */
    background: #2e8531; /* Green color */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%; /* Make it round */
  }
  
  .slider::-moz-range-thumb {
    width: 10px; /* Width of the slider thumb */
    height: 10px; /* Height of the slider thumb */
    background: #2e8531; /* Green color */
    cursor: pointer; /* Cursor on hover */
    border-radius: 50%; /* Make it round */
  }

  .navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 5px 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.5);
    display:flex;
    font-size:smaller;
}

.tiny {
  font-size:.6em;
}

.smaller {
  font-size:.8em;
}


  
  
